<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Translator</title>
        <link rel="stylesheet" href="./public/style.css">
    </head>
    <body>
        <h1>Translator</h1>
        <form action="http://localhost:<%- portNumber%>/log" method="get">
            <textarea id="username" hidden name="username"><%- username%></textarea>
            <input type="submit" value="Past Translations">

        </form>
        <span id="username" name="username"><%- username%></span>
        <hr>
        <form action="http://localhost:<%- portNumber%>/translate" method="get">
            <textarea id="username" hidden name="username"><%- username%></textarea>

            <div>
                Translate text to 
                <select required name="lang2" id="lang2" >
                    <option label="Select A Language" value=""></option>
                    <option value="english">english</option>
                    <option value="spanish">spanish</option>
                </select>
                
            </div>
            <textarea name="lang1Text" id="lang1Text" cols="80" rows="10"><%- original%></textarea><br>
            <input type="submit">
        </form>
        <textarea name="lang2Text" id="lang2Text" cols="80" rows="10"><%- translation%></textarea>
        <hr>
    </body>
</html>